:host {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.box-esterno{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.titoletto{
  font-weight: bold;
  font-size: 18px;
}

p{
  font-size: 14px;
}

.numero-news{
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: right;
}

.singolo{
  border: 1px solid #12a6e6;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  
}

h3{
  font-size: 24px;
}

@media (max-width: 500px) {
  .box-container{
    width: 90%;
    margin: 0 auto;
  }

  .singolo{
    padding: 1em;
  }
}