:host {
  display: block;
}
.box-cerchi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin: 3em auto;
}
.singolo-cerchio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singolo-cerchio p{
  padding-top: 1em;
  font-size: 15px;
}
.cerchio{
  background-color: #12A6E6;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cerchio img{
  width: 70%;
}

