.colore-sfondo{
  background-color: #12A6E6;
}

.div-contatti{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}

.spazio{
  padding: 0 30px;
  display: block;
}

.mail{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mail:hover{
  text-decoration: underline;
}

.loghi{
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 7px;
}

@media (max-width: 500px) {
  .div-contatti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
    color: white;
    padding: 10px;
    margin: 0 auto;
  }

  .loghi{
    height: 15px;
    width: 15px;
    cursor: pointer;
    padding: 5px;
  }

}

@media (max-width: 700px) {
  .spazio{
    display: none;
  }
}